@{
    ViewBag.Title = "Faster Than Light Technologies, LLC";
}

    <!-- MAIN WRAPPER -->
    <div class="body-wrap" style="margin-top: -50px;">
        <!-- HEADER -->
        <div id="divHeaderWrapper">
            <header class="header-standard-2">
                <!-- MAIN NAV -->
                <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                                <i class="fa fa-outdent icon-custom"></i>
                            </button>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars icon-custom"></i>
                            </button>

                            <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="FTL Tech | Solutions at the speed of light.">
                                <img src="~/images/FTLLogo.png" alt="FTL Tech | Solutions at the speed of light.">
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="hidden-md hidden-lg">
                                    <div class="bg-light-gray">
                                        <form class="form-horizontal form-light p-15" role="form">
                                            <div class="input-group input-group-lg">
                                                <input type="text" class="form-control" placeholder="I want to find ...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-white" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PatientAider</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="@Url.Action("About", "Home")">About PatientAider</a></li>
                                        <li><a tabindex="-1" href="@Url.Action("Support", "Home")">PatientAider Support</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </header>
        </div>

        <!-- Optional header components (ex: slider) -->
        <!-- Importing slider content -->
        <section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
            <div id="layerslider" style="width:100%;height:520px;">
                <!-- Slide 1 -->
                <div class="ls-slide" data-ls="transition2d:1;timeshift:-7000;">
                    <!-- slide background -->
                    <img src="~/images/backgrounds/pillars_wallpaper.jpg" class="ls-bg" alt="Slide background" />

                    <!-- Left Text -->
                    <h3 class="ls-l title-lg c-white text-shadow text-uppercase text-center strong" style="width:100%; top:25%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:3000;delayin:2000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                        Faster Than Light Technologies, LLC
                    </h3>
                    <h3 class="ls-l title c-white text-wrapped black text-uppercase text-center strong" style="top:50%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:2000;delayin:4000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                        Solutions at the speed of light.
                    </h3>

                    <h3 class="ls-l title-xs c-white text-shadow text-uppercase text-center strong" style="width:100%; top:72%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:2500;delayin:7000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                        Engage.
                    </h3>
                </div>

                <!-- Slide 2 -->
                <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                    <!-- slide background -->
                    <img src="~/images/backgrounds/andromeda-background.jpg" class="ls-bg" style="width: 100%;" alt="Slide background" />

                    <!-- Left Text -->
                    <h3 class="ls-l title text-warning" style="width:600px; top:35%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                        A journey begins with a single step. <span class="strong-600 text-white">Let's get started.</span>
                    </h3>

                    <p class="ls-l title-xs c-white text-shadow text-uppercase text-center strong" style="width:500px; top:50%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                        FTL is ready to be part of your project.
                    </p>

                    <a href="" class="btn btn-base btn-lg ls-l" style="top:60%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">
                        Learn more
                    </a>
                </div>

                <!-- Slide 3 -->
                <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                    <!-- slide background -->
                    <img src="~/images/backgrounds/full-bg-19.jpg" class="ls-bg" style="width: 100%;" alt="Slide background" />

                    <!-- Left Text -->
                    <h3 class="ls-l title text-warning" style="width:600px; top:35%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                        Health Care IT expertise </strong>
                    </h3>

                    <h3 class="ls-l title c-white text-wrapped black text-uppercase text-center strong" style="top:50%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                        At your fingertips.
                    </h3>
                </div>

            </div>
        </section>


        <!-- MAIN CONTENT -->
        <section class="slice base">
            <div class="wp-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 ">
                            <div class="icon-block icon-block-1">
                                <div class="icon-block-item">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <div class="icon-block-body">
                                    <h4 class="c-white">Endless possibilities</h4>
                                    <p>
                                        Whether it's cross-platform application development, security reviews, penetration tests or architectural insight,
                                        FTL Tech is your partner for success.  Reach out today!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 ">
                            <div class="icon-block icon-block-1">
                                <div class="icon-block-item">
                                    <i class="fa fa-ambulance"></i>
                                </div>
                                <div class="icon-block-body">
                                    <h4 class="c-white">Health Care IT Expertise</h4>
                                    <p>FTL is your health care technology expert, ready to ensure that your shop conforms to the latest regulatory requirements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 ">
                            <div class="icon-block icon-block-1">
                                <div class="icon-block-item">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="icon-block-body">
                                    <h4 class="c-white">Great Solutions. Right when you need them.</h4>
                                    <p>With a proven track record of success, FTL is ready to help you be a success!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice white inset-shadow-1 bb">
            <div class="wp-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-title-wr">
                                <h3 class="section-title left"><span>FTL Tech's Mission</span></h3>
                            </div>
                            <p>
                                FTL delivers world-class technical expertise, with a special emphasis on
                                health care-related technologies. Our goal is to provide first-rate consulting
                                and development services to the Northern New England area.
                                <br><br>
                                If you're looking to shore up a leaky perimeter, have an IT systems integration project,
                                or need some custom development, FTL may be the right choice for you!
                            </p>
                        </div>
                        <div class="col-md-7">
                            <div class="section-title-wr">
                                <h3 class="section-title left"><span>Our expertise</span></h3>
                            </div>
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">Web and Mobile App Development</span>
                                </div>
                            </div>
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">Technical Security Audits</span>
                                </div>
                            </div>
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">Health Care System Design and Architecture</span>
                                </div>
                            </div>
                            <div class="progress progress-lg">
                                <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">PHP Development</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice light-gray bb">
            <div class="wp-section">
                <div class="container">
                    <div class="section-title-wr">
                        <h3 class="section-title left"><span>Our services</span></h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="wp-block hero white no-margin">
                                <div class="thmb-img">
                                    <i class="fa fa-search"></i>
                                </div>

                                <h2>Technical Security Reviews</h2>
                                <p class="text-center">
                                    Make sure your network is architected for success. Whether you need
                                    a review of internal vulnerabilities, a reworking of your device update
                                    strategy, or a penetration, FTL Tech is there for you.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="wp-block hero white no-margin">
                                <div class="thmb-img">
                                    <i class="fa fa-code"></i>
                                </div>

                                <h2>Nimble Coding</h2>
                                <p class="text-center">
                                    Agile development with rapid prototyping and a tight development
                                    feedback loop, all using the latest development tools and technologies,
                                    including <a target="_blank" href="https://www.w3.org/TR/html5/">HTML5</a>,
                                    <a target="_blank" href="http://query.com">jQuery</a>, <a href="http://www.asp.net" target="_blank">ASP.Net</a>,
                                    <a target="_blank" href="https://entityframework.codeplex.com/SourceControl/latest">Entity Framework</a>
                                    and <a target="_blank" href="http://www.xamarin.com">Xamarin Studio</a>.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="wp-block hero white no-margin">
                                <div class="thmb-img">
                                    <i class="fa fa-hospital-o"></i>
                                </div>

                                <h2>Health Care</h2>
                                <p class="text-center">
                                    From new clinical integration standards like <a href="https://www.hl7.org/fhir/" target="_blank">FHIR</a> to ensuring
                                    your health care organization is HIPAA-compliant, FTL Tech brings decades of expertise to today's increasingly complex
                                    health care infrastructure.

                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="wp-block hero white no-margin">
                                <div class="thmb-img">
                                    <i class="fa fa-plus-square"></i>
                                </div>

                                <h2>PatientAider</h2>
                                <p class="text-center">
                                    PatientAider is a handy mobile app for iPhone and Android that provides clinically curated answers to navigating your hospital
                                    stay. Check out PatientAider for answers to making your hospital stay as pleasant as possible!

                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="slice base">
            <div class="wp-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div id="carouselTestimonial" class="carousel carousel-testimonials slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselTestimonial" data-slide-to="1" class=""></li>
                                    <li data-target="#carouselTestimonial" data-slide-to="2" class=""></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="text-center">
                                            <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                            <p class="testimonial-text">
                                                We've never been closer to ICD10-compliance than we are today, all thanks to FTL Tech.
                                            </p>
                                            <p>
                                                H. Lecter MD at a Major Health Care System
                                            </p>
                                            <span class="clearfix"></span>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="text-center">
                                            <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                            <p class="testimonial-text">
                                                I always thought that you couldn't have Better, Cheaper <em>and</em> Faster all at once.
                                                Boy was I wrong!  Thanks FTL!
                                            </p>
                                            <p>
                                                S. Goodman – Albaquerque, NM
                                            </p>
                                            <span class="clearfix"></span>
                                        </div>
                                    </div>
                                    <div class="item ">
                                        <div class="text-center">
                                            <h4><i class="fa fa-quote-left fa-3x"></i></h4>
                                            <p class="testimonial-text">
                                                He's really a very, very good boy.
                                            </p>
                                            <p>
                                                Mom
                                            </p>
                                            <span class="clearfix"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <!-- Initializing the slider -->

    @section Scripts{
    <script type="text/javascript">
    jQuery("#layerslider").layerSlider({
        pauseOnHover: true,
        autoPlayVideos: false,
        skinsPath: 'assets/layerslider/skins/',
        responsive: false,
        responsiveUnder: 1280,
        layersContainer: 1280,
        skin: 'borderlesslight3d',
        hoverPrevNext: true
    });
    </script>
    }

